<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Sign UP</title>
</head>
<body>
    <h3>SIGN UP below:</h3>

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <label>Username </label>
        <input type="text" name="username">
        <br><br>
        <label>Password </label>
        <input type="password" name="password">
        <br><br>
        <label>Email </label>
        <input type="email" name="email">
        <br><br>
        <label>Mobile </label>
        <input type="text" name="mobile">
        <br><br>
        <label>Address </label>
        <textarea name="address"></textarea>
        <br><br>
        <button type="submit">SIGN UP</button>
    </form>

</body>
</html>