<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- show current menu -->
    <table border="1">
        <thead>
            <tr>
                <th>Item name</th>
                <th>Picture</th>
                <th>Description</th>
                <th>Price</th>
                <th>Is veg/</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in itemList %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        <img src="{{ item.picture }}">
                    </td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.vegeterian }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- add food item (form) -->
    <h2>Add Menu Item</h2>
    <form action="{% url 'update_menu' restaurant.id %}" method="post">
        {% csrf_token %}
        <label for="name">Item Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required><br><br>

        <label for="vegeterian">Vegetarian:</label>
        <input type="checkbox" id="vegeterian" name="vegeterian"><br><br>

        <label for="picture">Image URL:</label>
        <input type="url" id="picture" name="picture"><br><br>

        <button type="submit">Add Item</button>
    </form>
</body>
</html>